<% include partials/header %>

<h1> A similar message <strong>  "<%= similar %>" </strong> was already reported by one of our users. we were already <strong> <%= cert %> </strong> units certain that it was a spam . Your submission has improved our certainity!
Thanks a lot!      </h1>


<% include partials/footer %>