<% include partials/header %>


<% if(userexist){ %>
<h2>  The username you entered is already registered . Try logging in </h2>
<% } %>

<h1> Login with your credentials !</h1>

<form action = "/login" method = "post">
    <input type = "text" name = "username" palceholder = "username" >
    <input type = "password" name = "password" palceholder = "password" >
    <input type = "submit" >
</form>

<h4> New user ?  <a href = "/register"> sign up ! </a> </h4>

<% include partials/footer %>