<% include partials/header %>

<div class="container">
        <h3> <STRong>  Register to become a volunteer! </STRong> </h3>
        <hr>

<form action = "/register"  method = "POST" class="form-group"> 
       <strong>Username : </strong> <input class="form-control" type = "text" placeholder = "eg: John Doe" name = "username"> <br> 
       <strong> Email :</strong> <input class="form-control" type = "email" placeholder = "eg: JohnDoe@gmail.com" name = "mail"> <br> 
       <strong> Password : </strong> <input class="form-control" type = "password" placeholder = "*****" name = password > <br> 
        <input type = "submit" class="btn btn-primary"  > 
</form>
</div>


<% include partials/footer %>