<% include partials/header %>


<h1> Register to become a volunteer !!</h1>

<form action = "/register"  method = "POST"> 
        <input type = "text" placeholder = "username" name = "username">
        <input type = "password" placeholder = "password" name = password >
        <input type = "submit" > 
</form>

<% include partials/footer %>