<% include partials/header %>


<%  if (max > 0.7) { %> 
<h1> The message you entered ,  <strong> "<%= inp %>" </strong> matches with an existing know spam message in out database <strong>"<%= match %>" </strong> with a similarity of about <strong> <%= max %> </strong> . The reason we consider it to be a spam is : <strong> "<%= reason %>" </strong> .</h1> 
<% } else { %>
<h1>Sorry the entered message was not found in our database we can't say for sure if its a spam or not! </h1>  
<% } %> 

<% include partials/footer %>