<% include partials/header %>


<div class="container">
  	<div class="row">
    	<div class="col-md-12">
      		<h1>Submit spam message to add to the database.</h1>
      		<form method = "POST" action = "/thanks">
				  
				  <textarea class="form-control" rows="5" name="submission"  placeholder  = "Enter the message you know for sure is a spam to protect other people against it." ></textarea> <br>
				  
    	</div>
    	
    	    	<div class="col-md-12 ">
    	    	    <h1>Enter the reason you consider this to be a spam message.</h1>
 		         <textarea class="form-control" rows="5" name="reason"  placeholder  = " You can enter the source based upon which you consider this message to be a spam." ></textarea> <br>
 		</div>
			
		 
    	<div class="col-md-12 align-self-end">
 			<span class = "pull-right"> <button type="submit" class="btn btn-primary"  >Submit</button> </span>
 		</div>
 		    </form>
 		    
 		        	<div class="col-md-12 align-self-end">
 			<a href = "/index">Go home</a>
 		</div>
	</div>
</div>   

<% include partials/footer %>