<% include partials/header %>


    <div class="container">


        <div class="jumbotron jumbotron-fluid  headd">
            <div class="container">
                <h1 class="display-4">Your report has been submitted!</h1>
                <p class="lead">The Fake message : <strong>"<%= sub %>"</strong> has been entered into the database with the reason
                    : <strong>"<%= rea %>" </strong>. <br> Thank you for your submission! </p>
            </div>
        </div>



    </div>



    <% include partials/footer %>