<% include partials/header %>


<div class="container"> 
    <h1> The Fake message : <strong>"<%= sub %>"</strong>  has been entered into the database with the reason : <strong>"<%= rea %>" </strong>  </h1> <br><br>

    <h2> Thank you for your submission ! </h2>
</div>



<% include partials/footer %>