.progress {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 4rem;
}

#sorry {
  margin-top: 2rem;
}

#found {
  margin-top: 2rem;
}

#user {
  color: whitesmoke;
} 

.headd {
  margin-top: 1rem;
}